:root{
    --fontTitle:'Libre Baskerville', serif;
    --fontText: 'Montserrat', sans-serif;

    --colorPrimary: #f1f1f1;
    --colorWhite: #fff;
    --colorDark: #000;
    --colorWarning:#f7df57;
    --colorFocus:#e7d258;
    --colorGray:#afafaf;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--fontText);
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3{
    font-family: var(--fontTitle);
    font-weight: 700;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}


p{
    font-size: 1.6rem;
}

a{
    font-size: 2rem;
    font-weight: 500;
}