@import './app.css';

/* My settings of bootstrap */
.bg-secondary{
    background-color: var(--colorPrimary) !important;
}

.logo{
    font-size: 3rem;
}

.button{
    background-color: var(--colorWarning);
}