@import './app.css';

/* My settings of bootstrap */
.bg-secondary{
    background-color: var(--colorPrimary) !important;
}

.logo{
    font-size: 3rem;
}

.btn-warning{
    background-color: var(--colorWarning);
}

.border-bottom{
    border-bottom: 0.2rem solid var(--colorGray) !important;
}

.bg-primary{
    background-color: var(--colorDark) !important;
}

.mt-9{
    margin-top: 50rem !important;
}